
body { text-align: center; }
h1 { font-size: calc(2.2vw + 18px); line-height: 1.3em; }
h2 { font-size: calc(1.8vw + 16px); letter-spacing: 2; height: 24vw; }

button { border: 1px solid #d0d0d0; margin: 10px; background-color:#efefef; width: 12vw; padding: 2vw; display: inline-block;}
.choice-container { width: 100%; text-align: center; }

ul { margin: 20px 0; }
li { list-style: none; text-align: left; }
hr { height: 1px; background-color: #ddd; }
